# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Python
_pycache_/
*.py[cod]
*.pyo

# MLflow
mlruns/

# Ignore raw and processed data
data/raw/
data/processed/

# Ignore all artifacts...
artifacts/*

# ...except the production model folder and everything inside it
!artifacts/production_model/
!artifacts/production_model/**